@import url('https://fonts.googleapis.com/css2?family=Lora&family=Yeseva+One&display=swap');

* {
  --hibiscus-love: #fc465c;
  --fine-ii: #f9b198;
  --afl: #fac8af;
  --mexican-sky: #cfdddd;
  --brasillia-peach: #facb85;
  --free: #33032d;
  --captured: #2b2120;

  --primary-color: var(--brasillia-peach);
  --secondary-color: var(--hibiscus-love);
  --tertiary-color: var(--fine-ii);
  --quadrary-color: var(--afl);
  --bg-color: var(--mexican-sky);
  --text-color: var(--free);
  --header-color: var(--captured);
  --error-color: var(--hibiscus-love);
  --success-color: #73d12e;

  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yeseva One', Georgia, cursive;
  /* color: var(--header-color); */
  color: aliceblue;
}

body {
  font-family: 'Lora', 'Times New Roman', serif;
  background-color: var(--bg-color);
  color: var(--free);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  min-height: 80vh;
}

.log-container {
  width: 430px;
  border-radius: 0.6em;
  padding: 10px;
  /* background-color: var(--primary-color); */
  box-shadow: 20px 20px 60px #97a1a1, -20px -20px 60px #ffffff;
  background-color: #1e3957;
  margin: 10% auto;
  margin-bottom: 6%;
}

.log-center-ball {
  counter-increment: hr;
  text-align: center;
  position: relative;
  background: none;
  margin: 0 0 1.5em 13.5em;
  border: 0;
  border-top: dashed 1px #e9bd7c;
  &:before {
    content: 'Chapter: ' counter(hr);
    font-family: 'Montez';
    font-size: 30px;
    background: white;
    width: 70%;
    margin-left: -25%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    color: lighten(black, 20%);
  }
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}




.log-form {
  padding: 30px 40px;
}
a{
  text-decoration: none;
}
.log-form .log-sign h2 {
  /* text-align: center; */
  display: inline-block;
  margin: 0 0 10px;
  color:darkgrey;
}
.log-form .log-log h2 {
  /* text-align: center; */
  display: inline-block;
  margin: 0 0 10px;
  float: right;
}

.log-form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  background-color: inherit;
  border: none;
}

.log-form-control label {
  /* color: var(--text-color); */
  color: aliceblue;
  display: block;
  margin-bottom: 5px;
}
.log-form-control input {
  border-radius: 6px;
  /* background: var(--primary-color); */
    background-color: var(--bg-color);
  /* box-shadow: inset 3px 3px 7px #e9bd7c, inset -3px -3px 7px #ffd98e; */
  min-height: 2.618em;
  border: var(--quadrary-color) solid 2px;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
}

.log-form-control input:focus {
  outline: 0;
  border-color: var(--tertiary-color);
}

.log-form-control.success input {
  border-color: var(--success-color);
}

.log-form-control.error input {
  border-color: var(--error-color);
}

.log-form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.log-form-control.error small {
  visibility: visible;
}

.log-form .button {
  cursor: pointer;
  /* background: var(--secondary-color); */
  background-color:#067ff9;
  /* box-shadow: 4px 4px 8px #c19c66, -4px -4px 8px #fffaa4; */
  border: 1px solid #ec263c66;
  color:azure;
  font-size: 16px;
  padding: 0.618em 1.2em;
  border-radius: 0.4em;
  font-family: 'Yeseva One', Georgia, cursive;
  text-align: center;
  display: block;
  margin-top: 1.2em;
  margin: auto;
  width: 92.5%;
}

.log-form .button:active,
.log-form .button:focus {
  outline: 0;
  background-color: #fc364c;
}


.log-forg-pass p{
  color:dimgrey;
  text-decoration: underline;
  margin-top: 30px;
  text-align: center;
}

.align-items-center{
  color: dimgrey;
  font-size: 0.7rem;
  font-weight:600;
  text-align: center;
}
.text-copy{
  margin-left: 5px;
}
.text-term{
  margin-left: 5px;
}
