@import url('https://fonts.googleapis.com/css2?family=Lora&family=Yeseva+One&display=swap');

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Yeseva One', Georgia, cursive;
  /* color: var(--header-color); */
  color: aliceblue;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lora', 'Times New Roman', serif;
  background-color: var(--bg-color);
  color: var(--free);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  min-height: 80vh;
  scroll-behavior: smooth;
}

.signup-container {
  width: 430px;
  border-radius: 0.6em;
  padding: 10px;
  box-shadow: 20px 20px 60px #97a1a1, -20px -20px 60px #ffffff;
  background-color: #1e3957;
  margin: 30px auto;
  margin-top: 120px;
  scroll-behavior: smooth;
}

.signup-center-ball {
  counter-increment: hr;
  text-align: center;
  position: relative;
  background: none;
    margin: 0 13em 1.5em 0;
  border: 0;
  border-top: dashed 1px #e9bd7c;
  &:before {
    content: 'Chapter: ' counter(hr);
    font-family: 'Montez';
    font-size: 30px;
    background: white;
    width: 50%;
    margin-left: -25%;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    color: lighten(black, 20%);
  }
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}



.signup-form {
  padding: 30px 40px;
  transition: all 0.6s linear;
}
a{
  text-decoration: none;
  scroll-behavior: smooth;
  transition: all 0.6s linear;
}
.signup-form .signup-sign h2 {
  display: inline-block;
  margin: 0 0 10px;
}
.signup-form .signup-log h2 {
  display: inline-block;
  margin: 0 0 10px;
  float: right;
  color:darkgrey;
}

.signup-form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  background-color: inherit;
  border: none;
}

.signup-form-control label {
  color: aliceblue;
  display: block;
  margin-bottom: 5px;
}
.signup-form-control input {
  border-radius: 6px;
    background-color: var(--bg-color);
  min-height: 2.618em;
  border: var(--quadrary-color) solid 2px;
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px;
}

.signup-form-control input:focus {
  outline: 0;
  border-color: var(--tertiary-color);
}

.signup-form-control.success input {
  border-color: var(--success-color);
}

.signup-form-control.error input {
  border-color: var(--error-color);
}

.signup-form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.signup-form-control.error small {
  visibility: visible;
}

.signup-form .button {
  cursor: pointer;
  background-color:#067ff9;
  border: 1px solid #ec263c66;
  color:azure;
  font-size: 16px;
  padding: 0.618em 1.2em;
  border-radius: 0.4em;
  font-family: 'Yeseva One', Georgia, cursive;
  text-align: center;
  display: block;
  margin-top: 1.2em;
  margin: auto;
  width: 92.5%;
}

.signup-form .button:active,
.signup-form .button:focus {
  outline: 0;
  background-color: #fc364c;
}
