
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Yeseva+One&display=swap');

* {
  --hibiscus-love: #fc465c;
  --fine-ii: #f9b198;
  --afl: #fac8af;
  --mexican-sky: #cfdddd;
  --brasillia-peach: #facb85;
  --free: #33032d;
  --captured: #2b2120;
  --primary-color: var(--brasillia-peach);
  --secondary-color: var(--hibiscus-love);
  --tertiary-color: var(--fine-ii);
  --quadrary-color: var(--afl);
  --bg-color: var(--mexican-sky);
  --text-color: var(--free);
  --header-color: var(--captured);
  --error-color: var(--hibiscus-love);
  --success-color: #73d12e;
  box-sizing: border-box;
}
* {
  font-family: poppins;
}

/* ALL PAGE */

/* BODY STYLING */
.body--title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -2px;
  /* font-stretch: condensed;   */
}

/* <========================== DEFAULT ADDED CSS ============================> */


/* <=======================================================================================================> */
/* <==================================== Admin Report FORM ========================================>  */
/* <=========================================================================================================> */
/* s */
.adminReport {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  margin: auto;
  margin-bottom: 40px;
}


.card {
  background-color: inherit;
}

.adminReport {
  margin-top: 10%;
  width: 70%;
  background-color: #1e3957;
  position: relative;

  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 20px 35px;
  margin-bottom: 100px;
}

.adminReport {
  /* here if we put a star * then it couldnt be overwritten */
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.act, .section{
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 48%;
}
.OtherActs{
  margin: 0;
  padding: 0;
}

.occurence{
  margin-bottom: 20px;
}
.fir-detai{
  display: block;
  margin-top: 30px;
  margin-left: 15px;
}

.adminReport--title {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
}

.adminReport--point {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.adminReport--desc {
  font-size: 16px;
}

button {
  margin-top: 40px;
  width: 90%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  /* margin-left: 50px;
  margin-right: 100px; */
  margin: 8rem 0 1.1rem 2.8rem;
}

.button-last {
  /* margin: auto */
  /* margin-top: 6rem; */
}

.button-last:hover {
  background-color: #23a2f6;
}

/* <========================================= CARD (PROPS) CSS START ==========================> */



.container {
  margin: 20px;
  width: 95%;
  height: 400px;
}

.card {
  height: 500px;
}
.full-view, .btn-outline-secondary{
  text-align: center;
  align-items: center;
}

.row {
  margin-top: 2rem;
}



.card-block{
  width:20%;
}

/* <============================ carousel =============================> */



.carou-img{
  width: 180px;
  margin: 0;
  padding: 0;
}
.carousel{
  margin: 0;
  padding: 0;
}

.carousel-inner{
  margin: 0;
  padding: 0;
}

.carousel-item{
  margin: 0;
  padding: 0;
}


.float-container {
    border: 3px solid #fff;
    padding: 5px;
}

.float-child1 {
    width: 45%;
    float: left;
    padding: 5px;
}

.float-child2 {
    width: 45%;
    margin-left: 30px;
    float: left;
    padding: 5px;
}

.align-items-center-FOV{
  color: dimgrey;
  font-size: 0.7rem;
  font-weight:600;
  text-align: center;
  padding-bottom: 15px;
}
